@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Smart Solutions</h1>
    <p>Construindo cidades inteligentes.</p>

<dl class="grid-dl">
  <dt>Armando Ferreira Costa</dt>
  <dd>RM79818</dd>
  <dt>Flávio Augusto Oliveira</dt>
  <dd>RM80492</dd>
  <dt>Fernando F Feliciano</dt>
  <dd>RM79830</dd>
  <dt>Leandro Silva Simões</dt>
  <dd>RM81059</dd>
  <dt>Fabricio Araujo e Silva</dt>
  <dd>RM79834</dd>
</dl>
    
</div>
