@{
    ViewData["Title"] = "Startup";
}
<h1>@ViewData["Title"]</h1>

<p>Equipe:</p>
<ul>
    <li>Armando Ferreira Costa</li>
    <li>Flávio Augusto Oliveira</li>
    <li>Fernando F Feliciano</li>
    <li>Leandro Silva Simões</li>
    <li>Fabricio Araujo e Silva</li>
</ul>
